---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <br>
            <!-- Masthead Avatar Image-->
            <div class="container d-flex align-items-center flex-column">
              <img class="masthead-avatar mb-5" src="img/Me.png" alt="" />
            </div>
            <!-- Masthead Avatar Image-->
            <!-- Add Education -->

                  <div class="text-center mt-4">
                              <i class="fa fa-university" aria-hidden="true"></i>
                              BS Bioengineering, UC Riverside '19
                  </div>

                  <!-- Add Education -->
<br>
            <span class="subheading">{{ site.description }}</span>
            {% endif %}



  <!-- About Section Button-->
        <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="resume/resume_IMenchaca.pdf">
                    <i class="fas fa-download mr-2"></i>
                    Resume
                </a>
                <a class="btn btn-xl btn-outline-light" href="resume/cv_IMenchaca.pdf">
                    <i class="fas fa-download mr-2"></i>
                    CV
                </a>
        </div>

  <!-- About Section Button-->

          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }}</p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
